.language-switcher {
    border: none;
    background: none;
    text-transform: uppercase;
    padding: 5px;
    line-height: 1;
}
.language-switcher:hover {
    color: #069;
    text-decoration: underline;
}
.language-switcher.active {
    background-color: #E5E5E5;
}
.red-bar {
    border-top: 5px solid #DC0018;
    margin-bottom: 20px;
}
